/*Reading passage occupies the right side.*/
#passageHalf{
    width: 50%;
    height: 100%;
    float: right;
    overflow: auto;
    background: #fff;
    outline: 2px solid blue;

}

/*Normal questions occupies the left side.*/
#questionNormal{
    float: left;
    width: 50%;
    height: 100%;
    outline: 2px solid red;
}

/*The status bar shows Beginning, More, or End*/
#readingStatusBar{
    height: 22px;
    width: 100%;
    background: #0d3;
    
}